# Dependencies
node_modules

# Logs
npm-debug.log
*.log

# Git / Docker / Env files
.git
.gitignore
.env
Dockerfile
.dockerignore

# Documentation
README.md

# PocketBase specific (Not needed for Node.js service build context)
pocketbase/
pb_data/
pb_migrations/
*.exe

# Other (if you haven't deleted it)
# supervisord.conf 